.recommended-friends {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 24px 0;
}
.recommended-friends__title {
  font-size: 14px;
  color: var(--grey);
}
.recommended-friends span {
  display: block;
  margin: 100px 0;
  text-align: center;
  color: var(--grey);
  font-size: 16px;
}
.open-chat__header {
  display: flex;
  font-size: 14px;
  color: var(--grey);
  justify-content: space-between;
  margin: 24px 0;
}
/* open post */
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--grey);
  padding-bottom: 18px;
}
.open-post__column:first-child {
  padding: 24px 0;
}
.open-post__title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 6px;
}
.open-post__hashtags {
  text-transform: uppercase;
  font-size: 18px;
  color: var(--grey);
  margin-bottom: 8px;
}
.open-post__members {
  display: flex;
  align-items: center;
  color: var(--grey);
  font-size: 16px;
}
.open-post__members img {
  border: 1px solid;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: 4px;
}
.open-post__members .divider {
  width: 1px;
  height: 16px;
  background-color: var(--grey);
  margin: 0 10px;
}
.open-post__members-status {
  color: palevioletred;
}
.open-post__photo,
.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}
.open-post__photo {
  position: relative;
}
.open-post__photo img {
  border: 1px solid;
}
.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 6px;
  border-radius: 14px;
  color: white;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 6px;
  right: 6px;
}
.open-post__heart-count i {
  font-size: 4px;
}
.open-post__heart-count span {
  margin-left: 4px;
  font-size: 12px;
}
