.friends-screen {
  padding: 0px var(--horizontal-space);
}

#friends-display-link {
  text-align: center;
  display: block;
  background-color: #f1f3f5;
  padding: 14px 0;
  font-size: 18px;
  margin-bottom: 10px;
}
#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}
#friends-display-link .fa-chevron {
  margin-left: 8px;
}
